<div class="chain-reaction">
  <div class="top">
    <button routerLink="/home" class="fancy-button-1" style="margin-bottom: 50px;">Go to Home</button>
    <button (click)="restart()" class="fancy-button-1" style="margin-bottom: 50px;">Restart</button>
  </div>
  <div class="info-section">
    <div [ngClass]="{'text-vibrate': isMoveTextToVibrate}">
      The move belongs to
      <span [style.color]="players[playerInd].color">{{
        players[playerInd].color
      }}</span>
    </div>
    <div>
      Number of moves completed: {{turnCnt}}
    </div>
  </div>
  <div class="canvas-wrapper">
    <canvas (click)="onCellClick($event)" #canvas></canvas>
  </div>
  <div *ngIf="isGameOver">
    <div>
      GAME OVER PLEASE RESTART
    </div>
    <div>{{currentColor}} WON</div>
  </div>
</div>
