* {
  padding: 0;
  margin: 0;
}

/* CSS */
.fancy-button-1 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &:hover {
    background-color: #FFC229;
    box-shadow: #FF6314 0 -6px 8px inset;
    transform: scale(1.125);
  }
  &:active {
    transform: scale(1.025);
  }
  &:disabled {
    background-color: red;
  }
}

@media (min-width: 768px) {
  .fancy-button-1 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

.title {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  white-space: nowrap;
}

@keyframes text-vibrate {
  0% { transform: translateX(0) }
  25% { transform: translateX(10px) }
  50% { transform: translateX(-10px) }
  75% { transform: translateX(10px) }
  100% { transform: translateX(0) }
 }

.text-vibrate {
  display: inline-block;
  animation: text-vibrate 0.2s linear infinite;
}